@model CloudApp.Models.BusinessModel.Treatment

<div class="tab-pane  active" id="tab2-1">
    <input type="hidden"  data-format="D, dd MM yyyy" asp-for="DateRiminder" />
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <div class="col-md-4" style="pointer-events: none">
            <div class="form-group">
                <label asp-for="CustmerId" class="col-md-2 control-label"></label>

                <select asp-for="CustmerId" class="select2 form-control">
                    <option value="@ViewBag.cmsname.Id">@ViewBag.cmsname.Name</option>
                </select>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="select2 form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger" />
            </div>
        </div>



    </div>

    <div class="row">


        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SNum" class="control-label"></label>
                <input asp-for="SNum" class="form-control" />
                <span asp-validation-for="SNum" class="text-danger" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="City" class="select2 form-control" asp-items="ViewBag.City"></select>
                    <span class="input-group-btn"><a id="cityflag" data-toggle="modal" data-id="17" data-se="City" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Gada" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="Gada" class="select2 form-control" asp-items="ViewBag.Gada"></select>
                    <span class="input-group-btn"><a id="Gadaflag" data-toggle="modal" data-id="18" data-se="Gada" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateSNum" class="control-label"></label>
                <div id="date-popup" class="input-group date">
                    <input asp-for="DateSNum" type="text" data-format="D, dd MM yyyy" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <span asp-validation-for="DateSNum" class="text-danger" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Plane" class="control-label"></label>
                <input asp-for="Plane" class="form-control" />
                <span asp-validation-for="Plane" class="text-danger" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Tbuild" class="control-label"></label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <select asp-for="Tbuild" class="select2 form-control" data-placeholder="اختيار" asp-items="ViewBag.Aqartype"></select>
                            <span class="input-group-btn"><a id="TbulidFlag" data-toggle="modal" data-id="1" data-se="Tbuild" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="checkbox">
                <label><input id="nex1" asp-for="IsIntered" type="checkbox">اكمال عملية الأدخال...</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="حفـــــظ العملية" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    <br />
   


</div>
