@model CloudApp.Models.BusinessModel.Treatment

@{
    ViewData["Title"] = "جديد";
}

<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h3 class="panel-title">المعاملة الجارية...</h3>
        <ul class="panel-tool-options">
            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
    </div>

    <div class="panel-body">
        <form asp-action="Edit" id="root" class="form-wizard validate-form-wizard validate">
        <input type="hidden" asp-for="Id" />

       <div class="wizard-navbar">
                <ul>
                    <li class="l0 active"><a href="#tab2-1" data-toggle="tab"><span>1</span> تحت الأدخال </a></li>
                    <li class="l1"><a href="#tab2-2" data-toggle="tab"><span>2</span>تحت التثمين</a></li>
                    <li class="l2"><a href="#tab2-3" data-toggle="tab"><span>3</span> المراجعة</a></li>
                    <li class="l3"><a href="#tab2-4" data-toggle="tab"><span>4</span> التعميد</a></li>
                </ul>
            </div>

       <div class="tab-content">
        @* tab1 *@
        <div class="tab-pane  active" id="tab2-1">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-3" style="pointer-events: none">
                    <div class="form-group">
                        <label asp-for="CustmerId" class="control-label"></label>
                        <select asp-for="CustmerId" class="select2 form-control" asp-items="ViewBag.CustmerId"></select>

                    </div>
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ApplicationUserId" class="control-label"></label>
                        <select asp-for="ApplicationUserId" class="select2 form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Owner" class="control-label"></label>
                        <input asp-for="Owner" class="form-control" />
                        <span asp-validation-for="Owner" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="SCustmer" class="control-label"></label>

                        <input asp-for="SCustmer" class="form-control" />
                        <span asp-validation-for="SCustmer" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SNum" class="control-label"></label>
                        <input asp-for="SNum" class="form-control" />
                        <span asp-validation-for="SNum" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Gada" class="control-label"></label>

                        <input asp-for="Gada" class="form-control" />
                        <span asp-validation-for="Gada" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DateSNum" class="control-label"></label>

                        <div id="date-popup" class="input-group date">
                            <input asp-for="DateSNum" type="text" data-format="D, dd MM yyyy" class="form-control">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <span asp-validation-for="DateSNum" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Local" class="control-label"></label>
                        <input asp-for="Local" class="form-control" />
                        <span asp-validation-for="Local" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Plane" class="control-label"></label>
                        <input asp-for="Plane" class="form-control" />
                        <span asp-validation-for="Plane" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Tbuild" class="control-label"></label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select asp-for="Tbuild" class="select2 form-control" data-placeholder="اختيار" asp-items="ViewBag.Aqartype"></select>
                                    <span class="input-group-btn"><a id="test1" asp-controller="Flags" asp-route-ids="1" asp-action="Create" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Area" class="control-label"></label>
                        <input asp-for="Area" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label><input id="nex1" asp-for="IsIntered" type="checkbox">اكمال عملية الأدخال...</label>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pac-input">البحــث</label>
                        <input id="pac-input" class="form-control" type="text" placeholder="ابحث عن موقع">

                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Longtute" class="control-label"></label>
                        <input asp-for="Longtute" class="form-control" />
                        <span asp-validation-for="Longtute" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Latute" class="control-label"></label>
                        <input asp-for="Latute" class="form-control" />
                        <br />
                        <button type="button" id="is" class="btn btn-primary">عرض الخريطــة</button>
                        <span asp-validation-for="Latute" class="text-danger" />

                    </div>

                </div>


            </div>


            <br />
            <br />

            <div id="maptest" style="width: 90%; height: 400px; margin-right: 5%">

            </div>
            <br />
            <br />
            <button type="button" class="btn btn-primary" onclick="getlog()">جلب الموقع الحالي</button>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="حفـــــظ العملية" class="btn btn-primary" />
                </div>
            </div>

        </div>

        @* tab2 *@
        <div class="tab-pane" id="tab2-2">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Wland" class="control-label"></label>
                    <input asp-for="Wland" class="form-control" />
                    <span asp-validation-for="Wland" class="text-danger" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ResWland" class="control-label"></label>
                    <input asp-for="ResWland" class="form-control" />
                    <span asp-validation-for="ResWland" class="text-danger" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Napartment" class="control-label"></label>
                    <input asp-for="Napartment" class="form-control" />
                    <span asp-validation-for="Napartment" class="text-danger" />
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Agbuild" class="control-label"></label>
                    <input asp-for="Agbuild" class="form-control" />
                    <span asp-validation-for="Agbuild" class="text-danger" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="OccBuild" class="control-label"></label>
                    <input asp-for="OccBuild" class="form-control" />
                    <span asp-validation-for="OccBuild" class="text-danger" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CaseBuild" class="control-label"></label>
                    <input asp-for="CaseBuild" class="form-control" />
                    <span asp-validation-for="CaseBuild" class="text-danger" />
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="StyleBuild" class="control-label"></label>
                    <input asp-for="StyleBuild" class="form-control" />
                    <span asp-validation-for="StyleBuild" class="text-danger" />
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Musteh" class="control-label"></label>
                    <input asp-for="Musteh" class="form-control" />
                    <span asp-validation-for="Musteh" class="text-danger" />
                </div>
            </div>


        </div>

        <br />
        <p>الخدمات المتوفرة : </p>
        <div style="border: darkturquoise solid 1px; padding: 10px">
            <br />
            <div class="row" style="margin-right: 10%">

                <div class="col-md-2 checkbox" style="display: none">

                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="ServicesWater" />
                    <label asp-for="ServicesWater"></label>

                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="ServicesPhone" />
                    <label asp-for="ServicesPhone"></label>

                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="ServicesElectrocitcs" />
                    <label asp-for="ServicesElectrocitcs"></label>

                </div>

                <div class="col-md-2 checkbox">

                    <input asp-for="ServicesSanitation" />
                    <label asp-for="ServicesSanitation"></label>
                </div>

                <div class="col-md-2 checkbox">

                    <input asp-for="ServicesRoad" />
                    <label asp-for="ServicesRoad"></label>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="ServicesLamp" />
                    <label asp-for="ServicesLamp"></label>
                </div>
            </div>



        </div>


        <br />
        <p>المحيـــط : </p>
        <br />
        <div style="border: darkturquoise solid 1px; padding: 10px">
            <br />
            <div class="row" style="margin-right: 10%">
                <div class="col-md-2 checkbox">
                    <input asp-for="SroundMosq" />
                    <label asp-for="SroundMosq"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundmedicalCenter" />
                    <label asp-for="SroundmedicalCenter"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundmedSecurityFacilty" />
                    <label asp-for="SroundmedSecurityFacilty"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundSoaq" />
                    <label asp-for="SroundSoaq"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundGarden" />
                    <label asp-for="SroundGarden"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundFeul" />
                    <label asp-for="SroundFeul"></label>
                </div>

            </div>

            <div class="row" style="margin-right: 10%">
                <div class="col-md-2 checkbox">
                    <input asp-for="Sroundpartment" />
                    <label asp-for="Sroundpartment"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundHotel" />
                    <label asp-for="SroundHotel"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundRestrant" />
                    <label asp-for="SroundRestrant"></label>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="SroundCentralSoaq" />
                    <label asp-for="SroundCentralSoaq"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundmedicalCenter" />
                    <label asp-for="SroundmedicalCenter"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundComirchalCenter" />
                    <label asp-for="SroundComirchalCenter"></label>
                </div>

            </div>

            <div class="row" style="margin-right: 10%">


                <div class="col-md-2 checkbox">
                    <input asp-for="SroundDispensares" />
                    <label asp-for="SroundDispensares"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundHospital" />
                    <label asp-for="SroundHospital"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundciviliDenfencs" />
                    <label asp-for="SroundciviliDenfencs"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundBank" />
                    <label asp-for="SroundBank"></label>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="SroundSchools" />
                    <label asp-for="SroundSchools"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundPoilceCenter" />
                    <label asp-for="SroundPoilceCenter"></label>
                </div>


            </div>

            <div class="row" style="margin-right: 10%">
                <div class="col-md-2 checkbox">
                    <input asp-for="SroundGenralSoaq" />
                    <label asp-for="SroundGenralSoaq"></label>
                </div>

                <div class="col-md-2 checkbox">
                    <input asp-for="SroundGovermentDepartMent" />
                    <label asp-for="SroundGovermentDepartMent"></label>
                </div>

            </div>

        </div>
        <br />

        <div style="border: darkturquoise solid 1px; padding: 10px">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="GenLoc" class="control-label"></label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select asp-for="GenLoc" class="select2 form-control" data-placeholder="اختيار" asp-items="ViewBag.Gentype"></select>
                                    <span class="input-group-btn"><a id="test2" asp-controller="Flags" asp-route-ids="2" asp-action="Create" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="North" class="control-label"></label>
                        <input asp-for="North" class="form-control" />
                        <span asp-validation-for="North" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NorthTall" class="control-label"></label>
                        <input asp-for="NorthTall" class="form-control" />
                        <span asp-validation-for="NorthTall" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="South" class="control-label"></label>
                        <input asp-for="South" class="form-control" />
                        <span asp-validation-for="South" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="SouthTall" class="control-label"></label>
                        <input asp-for="SouthTall" class="form-control" />
                        <span asp-validation-for="SouthTall" class="text-danger" />
                    </div>
                </div>

            </div>
            <br />

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="East" class="control-label"></label>
                        <input asp-for="East" class="form-control" />
                        <span asp-validation-for="East" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EastTall" class="control-label"></label>
                        <input asp-for="EastTall" class="form-control" />
                        <span asp-validation-for="EastTall" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="West" class="control-label"></label>
                        <input asp-for="West" class="form-control" />
                        <span asp-validation-for="West" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="WestTall" class="control-label"></label>
                        <input asp-for="WestTall" class="form-control" />
                        <span asp-validation-for="WestTall" class="text-danger" />
                    </div>
                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="TotalForEarcth" class="control-label"></label>
                        <input asp-for="TotalForEarcth" class="form-control" />
                        <span asp-validation-for="TotalForEarcth" class="text-danger" />
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="TotalBulding" class="control-label"></label>
                        <input asp-for="TotalBulding" class="form-control" />
                        <span asp-validation-for="TotalBulding" class="text-danger" />
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MeterPriceForEarth" class="control-label"></label>
                        <input asp-for="MeterPriceForEarth" class="form-control" />
                        <span asp-validation-for="MeterPriceForEarth" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MeterPriceForBulding" class="control-label"></label>
                        <input asp-for="MeterPriceForBulding" class="form-control" />
                        <span asp-validation-for="MeterPriceForBulding" class="text-danger" />
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="NotesAndAbstracting" class="control-label"></label>
                        <input asp-for="NotesAndAbstracting" class="form-control" />
                        <span asp-validation-for="NotesAndAbstracting" class="text-danger" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="MantinCost" class="control-label"></label>
                        <input asp-for="MantinCost" class="form-control" />
                        <span asp-validation-for="MantinCost" class="text-danger" />
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalPriceNumber" class="control-label"></label>
                        <input asp-for="TotalPriceNumber" class="form-control" />
                        <span asp-validation-for="TotalPriceNumber" class="text-danger" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="MothmnOpnin" class="control-label"></label>
                        <input asp-for="MothmnOpnin" class="form-control" />
                        <span asp-validation-for="MothmnOpnin" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>

        <div class="dropzone" id="myId"></div>
            
        <div class="checkbox">
            <label><input id="nex2" asp-for="IsThmin" type="checkbox">اكمال عملية التثمين...</label>
        </div>
            <br/>
            <input type="submit" value="حفـــــظ العملية" class="btn btn-primary" />
            
        </div>

        @*tab3*@
        <div class="tab-pane" id="tab2-3">
            <h3 class="title text-info"> تدقيق المستندات والأدخال</h3>
            <p>
                <strong>1.</strong> تمت مراجعة وتدقيق كافة الاواراق والصكوك والمدخلات بعد عمليتي الأدخال و التثمين.
            </p>
            <br />
            <input type="submit" value="حفـــــظ العملية" class="btn btn-primary" />
            <div class="checkbox">
                <label><input asp-for="IsAduit" id="nex3" type="checkbox">موافق..</label>
            </div>
         

        </div>

        @*tab4*@
        <div class="tab-pane" id="tab2-4">
            <h3 class="title text-info"> تعميد المستندات والأدخال</h3>
            <p>
                <strong>1.</strong> تمت الموافقة علي كافة الاواراق والصكوك بعد عمليات الأدخال و التثمين والمراجعة .
            </p>
            <div class="checkbox">
                <label><input id="nex4" asp-for="IsApproved" type="checkbox">موافق..</label>
            </div>
            <br />
            <input type="submit" value="حفـــــظ العملية" class="btn btn-primary" />

        </div>
            
        <ul class="pager wizard">
            <li class="previous"><a href="javascript:void(0)"><i class="icon-right-open"></i>السابق</a></li>
            <li class="next"><a href="javascript:void(0)">التالي<i class="icon-left-open"></i></a> </li>
        </ul>
        </div>
            
            @*StoreData*@
        <input type="hidden" name="ids" id="ids" />
        <i id="imgs" style="display: none">@ViewBag.imgs</i>
        <i id="hosname" style="display: none">@string.Format("http://" + Context.Request.Host + "/attachs1/")</i>
        <i style="display: none" id="jsuthost">>@string.Format(Context.Request.Host + "/RemoveFile?name=")</i>
            

        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">الرجوع للقائمة الرئيسيه</a>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

    <script>
        //ControlTab For Edit
        function getstattab1() {

            if ($("#nex1").prop('checked')) {
                $(".l0").removeClass('active').addClass('completed');
                $("#tab2-1").removeClass('active');
                $("#tab2-2").addClass('active');
                $(".l1").addClass('active');
            }
        }
        function getstattab2() {
            if ($("#nex2").prop('checked')) {
                $(".l1").removeClass('active').addClass('completed');
                $("#tab2-2").removeClass('active');
                //same
                $("#tab2-3").addClass('active');
                $(".l2").addClass('active');
            }
        }
        function getstattab3() {
            if ($("#nex3").prop('checked')) {
                $(".l2").removeClass('active').addClass('completed');
                $("#tab2-3").removeClass('active');
                //same
                $("#tab2-4").addClass('active');
                $(".l3").addClass('active');
            }
        }
        function getstattab4() {
            if ($("#nex4").prop('checked')) {
                $(".l3").removeClass('active').addClass('completed');

            }
        }

        setTimeout(function() {
            $("#root").ready(function () {
                getstattab1();
                getstattab2();
                getstattab3();
                getstattab4();
            });
        }, 300);
        //End

        //Contorl Tab In Clint
        $("#nex1").change(function () {
            if (this.checked) {

                $(".l0").removeClass('active').addClass('completed');

            } else {

                $(".l0").removeClass('completed').addClass('active');

            }
        });
        $("#nex2").change(function () {
            if (this.checked) {

                $(".l1").removeClass('active').addClass('completed');

            } else {

                $(".l1").removeClass('completed').addClass('active');

            }
        });
        $("#nex3").change(function () {
            if (this.checked) {

                $(".l2").removeClass('active').addClass('completed');

            } else {

                $(".l2").removeClass('completed').addClass('active');

            }
        });
        $("#nex4").change(function () {
            if (this.checked) {

                $(".l3").removeClass('active').addClass('completed');

            } else {

                $(".l3").removeClass('completed').addClass('active');

            }
        });
        //End

        //DropZone Logic
        var imguids = "";
        var ob = $("#myId").dropzone({
            url: "/Treatments/UploadFile",
            success: function (file, response) {
                imguids += response + ";";
            },
            addRemoveLinks: true,
            removedfile: function (file) {

                $.get( "http://192.168.1.6:5002/Treatments/RemoveFile?name="+ file.id ,
                    function() {
                        alert("تم حذف الملف بنجاح!");
                    });
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

        var files = $("#imgs").text().split(';');
        var hostname = $("#hosname").text();
        for (var i = 0; i < files.length - 1; i++) {
            var filepath = "";
            var mockFile = { name: 'ملف', size: 13450, id : files[i]  };
            ob[0].dropzone.emit("addedfile", mockFile);
            ob[0].dropzone.emit("thumbnail", mockFile, hostname + files[i]+ ".jpg" );
            ob[0].dropzone.emit("complete", mockFile);
        }

        $("#root").submit(function () {
            $("#ids").val(imguids);
        });
        //End

        
        //GoogleMap Logic
        var pos;
        var map;
        var geocoder;
        var infowindowc;
        function getlog() {

            // begin of Get Current Locations
            var infoWindow = new google.maps.InfoWindow({ map: map });
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('هذا هو الموقع الحالي لك !');

                    var myLatLng = { lat: Number($("#Latute").val()), lng: Number($("#Longtute").val()) };
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'موقع العقار'
                    });

                    map.setCenter(pos);
                }, function () {

                    handleLocationError(true, infoWindow, map.getCenter());
                }, {
                    enableHighAccuracy: false,
                    timeout: 30000,
                    maximumAge: 30000
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            // End of get Current Locations
        }

        function mapwork() {
            var mapProp = {
                center: new google.maps.LatLng(Number($("#Latute").val()), Number($("#Longtute").val())),
                zoom: 18
            };
            map = new google.maps.Map(document.getElementById("maptest"), mapProp);
            var myLatLng = { lat: Number($("#Latute").val()), lng: Number($("#Longtute").val()) };
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'موقع العقار'
            });


            map.addListener('center_changed', function () {
                var obj = map.getCenter();
                $("#Latute").val(obj.lat());
                $("#Longtute").val(obj.lng());

            });


            geocoder = new google.maps.Geocoder;
            infowindowc = new google.maps.InfoWindow;

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            map.addListener('bounds_changed',
                function () {
                    searchBox.setBounds(map.getBounds());
                });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed',
                function () {
                    var places = searchBox.getPlaces();

                    if (places.length == 0) {
                        return;
                    }

                    // Clear out the old markers.
                    markers.forEach(function (marker) {
                        marker.setMap(null);
                    });
                    markers = [];

                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function (place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        var icon = {
                            url: place.icon,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };

                        // Create a marker for each place.
                        markers.push(new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: place.name,
                            position: place.geometry.location
                        }));

                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }
                    });
                    map.fitBounds(bounds);
                });

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation
                ? 'Error: الخدمه فشلت في جلب الموقع'
                : 'Error: Your browser doesn\'t support geolocation.');
        }

        $("#is").click(function () {

            map.setCenter({ lat: Number($("#Latute").val()), lng: Number($("#Longtute").val()) });
            var myLatLng = { lat: Number($("#Latute").val()), lng: Number($("#Longtute").val()) };
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'موقع العقار'
            });

            //  var obj = map.getCenter();
            //lng() lat()

        });

        //End

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi_nL0Zh0BYDb5iZTndmJCr-uHjd1Pvhs&language=ar&libraries=places&callback=mapwork"></script>

}




