@model CloudApp.Models.BusinessModel.R1Smaple

<div class="tab-pane  active" id="tab2-1">

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">

    <div class="col-md-3" style="pointer-events: none">
        <div class="form-group">
            <label asp-for="CustmerId" class="col-md-2 control-label"></label>

            <select asp-for="CustmerId" class="select2 form-control">
                <option value="@ViewBag.cmsname.Id">@ViewBag.cmsname.Name</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="ApplicationUserId" class="control-label"></label>
            <select asp-for="ApplicationUserId" class="select2 form-control" asp-items="ViewBag.ApplicationUserId"></select>
        </div>
    </div>
        
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <div class="input-group">
                <select asp-for="City" class="select2 form-control" asp-items="ViewBag.City"></select>
                <span class="input-group-btn"><a id="FlagOfcity" data-toggle="modal" data-id="17" data-se="City" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Gada" class="control-label"></label>
            <div class="input-group">
                <select asp-for="Gada" class="select2 form-control" asp-items="ViewBag.Gada"></select>
                <span class="input-group-btn"><a id="FlageForGada" data-toggle="modal" data-id="18" data-se="Gada" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>
       
</div>
          
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="KotatNumber" class="control-label"></label>
            <input asp-for="KotatNumber" class="form-control" />
            <span asp-validation-for="KotatNumber" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="PiceNumber" class="control-label"></label>
            <input asp-for="PiceNumber" class="form-control" />
            <span asp-validation-for="PiceNumber" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="BlockNumber" class="control-label"></label>
            <input asp-for="BlockNumber" class="form-control" />
            <span asp-validation-for="BlockNumber" class="text-danger" />
        </div>
    </div>
              
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AqarScope" class="control-label"></label>
            <div class="input-group">
                <select asp-for="AqarScope" class="select2 form-control" asp-items="ViewBag.AqarScope"></select>
                <span class="input-group-btn"><a id="FlagForAqarScope" data-toggle="modal" data-id="7" data-se="AqarScope" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>
              

</div>
          
<div class="row">
       
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AqarType" class="control-label"></label>
            <div class="input-group">
                <select asp-for="AqarType" class="select2 form-control" asp-items="ViewBag.aqartype"></select>
                <span class="input-group-btn"><a id="FlagforAqarType" data-toggle="modal" data-id="1" data-se="AqarType" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="ArchDesgin" class="control-label"></label>
            <div class="input-group">
                <select asp-for="ArchDesgin" class="select2 form-control" asp-items="ViewBag.desinArch"></select>
                <span class="input-group-btn"><a id="FlagForArchDesgin" data-toggle="modal" data-id="3" data-se="ArchDesgin" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Mansob" class="control-label"></label>
            <div class="input-group">
                <select asp-for="Mansob" class="select2 form-control" asp-items="ViewBag.Mansob"></select>
                <span class="input-group-btn"><a id="FlagForMansob" data-toggle="modal" data-id="4" data-se="Mansob" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="BulState" class="control-label"></label>
            <div class="input-group">
                <select asp-for="BulState" class="select2 form-control" asp-items="ViewBag.AqarType"></select>
                <span class="input-group-btn"><a id="FlagFOrBulState" data-toggle="modal" data-id="5" data-se="BulState" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>


</div>
          
<div class="row">
       
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AqarType" class="control-label"></label>
            <div class="input-group">
                <select asp-for="AqarType" class="select2 form-control" asp-items="ViewBag.butype"></select>
                <span class="input-group-btn"><a id="FlagForAqarType" data-toggle="modal" data-id="6" data-se="AqarType" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="BuldinIsNull" class="control-label"></label>
            <div class="input-group">
                <select asp-for="BuldinIsNull" class="select2 form-control" asp-items="ViewBag.BuldingBuzy"></select>
                <span class="input-group-btn"><a id="FlagForBuldinIsNull" data-toggle="modal" data-id="8" data-se="BuldinIsNull" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="RoadSeflt" class=" control-label"></label>
            <div class="input-group">
                <select asp-for="RoadSeflt" class="select2 form-control" asp-items="ViewBag.RoadSeflt"></select>
                <span class="input-group-btn"><a id="FlagForRoadSeflt" data-toggle="modal" data-id="9" data-se="RoadSeflt" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="RoadLight" class="control-label"></label>
            <div class="input-group">
                <select asp-for="RoadLight" class="select2 form-control" asp-items="ViewBag.RoadLighting"></select>
                <span class="input-group-btn"><a id="FlagForRoadLight" data-toggle="modal" data-id="10" data-se="RoadLight" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

</div>
          
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AqarAge" class="control-label"></label>
            <input asp-for="AqarAge" class="form-control" />
            <span asp-validation-for="AqarAge" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="JarIsBulding" class="control-label"></label>
            <div class="input-group">
                <select asp-for="JarIsBulding" class="select2 form-control" asp-items="ViewBag.JarIsBulding"></select>
                <span class="input-group-btn"><a id="FlagForJarIsBulding" data-toggle="modal" data-id="11" data-se="JarIsBulding" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AqaraAttachment" class="control-label"></label>
            <div class="input-group">
                <select asp-for="AqaraAttachment" class="select2 form-control" asp-items="ViewBag.AqarIsAttch"></select>
                <span class="input-group-btn"><a id="FlagForAqaraAttachment" data-toggle="modal" data-id="12" data-se="AqaraAttachment" class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AttchType" class="control-label"></label>
            <input asp-for="AttchType" class="form-control" />
            <span asp-validation-for="AttchType" class="text-danger" />
        </div>
    </div>
</div>
          
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TshteebType" class="control-label"></label>
            <div class="input-group">
                <select asp-for="TshteebType" class="select2 form-control" asp-items="ViewBag.TshteebType"></select>
                <span class="input-group-btn"><a id="FlagForTshteebType" data-toggle="modal" data-id="13" data-se="TshteebType"  class="btn btn-primary"><i class="icon-plus"></i> </a></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="BuldingNumber" class="control-label"></label>
            <input asp-for="BuldingNumber" class="form-control" />
            <span asp-validation-for="BuldingNumber" class="text-danger" />
        </div>
    </div>
              
          
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Owner" class="control-label"></label>
            <input asp-for="Owner" class="form-control" />
            <span asp-validation-for="Owner" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="MarkterRoad" class="control-label"></label>
            <input asp-for="MarkterRoad" class="form-control" />
            <span asp-validation-for="MarkterRoad" class="text-danger" />
        </div>
    </div>
</div>
          
<div class="row">
    <p>حدود العقار  : </p>
         
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="North" class="control-label"></label>
            <input asp-for="North" class="form-control"/>
            <span asp-validation-for="North" class="text-danger"/>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NorthTall" class="control-label"></label>
            <input asp-for="NorthTall" class="form-control" />
            <span asp-validation-for="NorthTall" class="text-danger" />
        </div>
    </div>
          
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="South" class="control-label"></label>
            <input asp-for="South" class="form-control" />
            <span asp-validation-for="South" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="SouthTall" class="control-label"></label>
            <input asp-for="SouthTall" class="form-control" />
            <span asp-validation-for="SouthTall" class="text-danger" />
        </div>
    </div>
</div>
          
<div class="row">
              
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="East" class="control-label"></label>
            <input asp-for="East" class="form-control" />
            <span asp-validation-for="East" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="EastTall" class="control-label"></label>
            <input asp-for="EastTall" class="form-control" />
            <span asp-validation-for="EastTall" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="West" class="control-label"></label>
            <input asp-for="West" class="form-control" />
            <span asp-validation-for="West" class="text-danger" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="WestTall" class="control-label"></label>
            <input asp-for="WestTall" class="form-control" />
            <span asp-validation-for="WestTall" class="text-danger" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="checkbox">
            <label><input id="nex1" asp-for="IsIntered" type="checkbox">اكمال عملية الأدخال...</label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفـــــظ العملية" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</div>


</div>