@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole
<form asp-action="Addroles">

    <input type="text" asp-for="Name" />
    <input type="text" asp-for="NormalizedName" />

    <button type="submit">Save</button>
</form>