@model CloudApp.Models.BusinessModel.FinModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>FinModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Sample" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sample" class="form-control" />
                <span asp-validation-for="Sample" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Owner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Custmer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Custmer" class="form-control" />
                <span asp-validation-for="Custmer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tbuild" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tbuild" class="form-control" />
                <span asp-validation-for="Tbuild" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Place" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBegin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBegin" class="form-control" />
                <span asp-validation-for="DateOfBegin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InterPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InterPrice" class="form-control" />
                <span asp-validation-for="InterPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MuthmnPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MuthmnPrice" class="form-control" />
                <span asp-validation-for="MuthmnPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AproferPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AproferPrice" class="form-control" />
                <span asp-validation-for="AproferPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
